* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;

  --base-color: 0;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: #FFFFFF;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  display: grid;
  min-height: 100vh;
}

main {
  justify-self: center;/*alinhar ele mesmo(self) ao centro no eixo x*/
  align-self: end;/*alinhar ele mesmo(self) ao final no eixo y*/
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem); /*propriedade para não precisar utilizar media query*/
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem); /*propriedade para não precisar utilizar media query*/
  display: flex;
  margin-bottom: 1.6rem;
}

#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  border-radius: 9999px;
  width: clamp(10rem, 10rem + 30vw, 22.8rem); /*propriedade para não precisar utilizar media query*/
  height: clamp(8rem, 5rem + 10vw, 10.8rem);  /*propriedade para não precisar utilizar media query*/
}

footer {
  justify-self: end;
  align-self: end; 
  padding: 0 4rem 3.2rem 0;
}